################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/LLE/.vs/LLE.slnx
/LLE/LLE.Native/x64/Debug
/LLE/vcpkg_installed
/LLE/x64/Debug
/python/results/output_images
/LLE/NativeTest/x64/Debug
/LLE/LLE.Native.Cu118/x64
/LLE/LLE.Native.Cu118.Package/build/native/bin/x64
/LLE/LLE.Native.Cu118.Package/build/native/include/lle
/LLE/LLE.Native.Cu118.Package/build/native/lib/x64
/LLE/x64/Release
*.nupkg
/LLE/LLE.Native.Cu118.Package/build/native/bin
/LLE/NativeTest/x64/Release
/LLE/CppInference/x64
/LLE/packages
/LLE/ConsoleApp1
/LLE/LLE.Managed.Cu118/obj
/LLE/LLE.Managed.Cu118/x64
/LLE/LLE.Managed.Cu118.Package/build/native/bin/x64
/LLE/LLE.Managed.Cu118.Package/build/native/include/lle
/LLE/LLE.Managed.Cu118.Package/build/native/lib/x64
/LLE/ManagedTest/bin/x64/Debug/net9.0-windows
/LLE/ManagedTest/obj
