################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/LLE/.vs/LLE.slnx
/LLE/LLE.Native/x64/Debug
/LLE/packages/Microsoft.ML.OnnxRuntime.Gpu.Windows.1.20.1
/LLE/vcpkg_installed
/LLE/x64/Debug
/python/results/output_images
/LLE/NativeTest/x64/Debug
/LLE/packages/Microsoft.ML.OnnxRuntime.Gpu.Windows.1.17.3
/LLE/LLE.Native.Cu118/x64
/LLE/LLE.Native.Cu118.Package/build/native/bin/x64
/LLE/LLE.Native.Cu118.Package/build/native/include/lle
/LLE/LLE.Native.Cu118.Package/build/native/lib/x64
/LLE/x64/Release
*.nupkg
/LLE/LLE.Native.Cu118.Package/build/native/bin
/LLE/NativeTest/x64/Release
